
div#header {
  background: transparent none repeat scroll;
  margin: 0 0 1.5em;
  padding: 5px 0;	
}

div#footer {
  background: transparent none repeat scroll;
  margin: 0 0 1.5em;
  padding: 5px 0;
  color: black;
}

div#branding {
  padding:10px 0 10px 0;
  width:100%;
}

.dijitTitlePaneTitle {
	border:1px solid #B8C885;
	font-weight:bold;
	height:19px;
	line-height:19px;
	margin:0pt;
	padding:3px 6px 0pt;
	text-align:left;
}

h1 {
  color: #050f0f;
}

a:link{color:#050f0f; text-decoration:underline; font-size:13px; background:transparent;}
a:hover{color:#456314; text-decoration:underline; font-size:13px; background:transparent;}
a:active{color:#050f0f; text-decoration:underline; font-size:13px; background:transparent;}
a:visited{color:#050f0f; text-decoration:underline; font-size:13px; background:transparent;}

form > fieldset {
  border-color: #050f0f;
}

body {
  text-align: inherit;	
}